<!-- tt_column.ejs -->
<div class="stage-name">
  <%= stage_name %>
</div>
<div class="tt">
<% for (var i = 9; i < 23; i++) { %>
<div class="hour">
  <div class="min-row-0-5"></div>
  <div class="min-row-5-10"></div>
  <div class="min-row-10-15"></div>
  <div class="min-row-15-20"></div>
  <div class="min-row-20-25"></div>
  <div class="min-row-25-30"></div>
  <div class="min-row-30-35"></div>
  <div class="min-row-35-40"></div>
  <div class="min-row-40-45"></div>
  <div class="min-row-45-50"></div>
  <div class="min-row-50-55"></div>
  <div class="min-row-55-60"></div>
</div>
<% } %>
</div>
